.chart{
    position: relative;
    width: 120px;
    height: 120px;
   &__arc:hover{
      stroke-width: 8;
      cursor: pointer;
   }
   &__svg-group{
    transform: scaleX(-1); 
  }

  &__text{
    width: 60px;
    height: 40px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
  }
  &__number{
    font-size: 24px;
  }
  &__label{
    font-size: 12px;
  }
}



