.chart{
    position: relative;
    width: 120px;
    height: 120px;

   &__arc:hover{
      stroke-width: 8;
      cursor: pointer;
   }
   &__svg-group{
    transform: scaleX(-1); 
  }

  &__text{
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__number{
    font-size: 24px;
  }

  &__label{
    font-size: 12px;
  }

  &__options{
    padding: 0;
    list-style: none;
  }

  &__option{
    position: relative;
    padding-left: 15px;
  }

  &__bullet{
    position: absolute;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
  }
}



